<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="footer_logo"><a href="#">赣风特产</a></div>
                <nav class="footer_nav">
                    <ul>
                        <li><a href="/index">主页</a></li>
                        <li><a href="/categories">订阅我们</a></li>
                        <li><a href="/categories">友情链接</a></li>
                        <li><a href="/categories">加入我们</a></li>
                        <li><a href="/contact">联系我们</a></li>
                    </ul>
                </nav>
                <div class="footer_social">
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> Colorlib -  More Templates <a href="http://www.cssmoban.com/" target="_blank" title="赣风科技">赣风科技</a> - Collect from <a href="http://www.cssmoban.com/" title="赣风科技" target="_blank">赣风科技</a>
</div>
            </div>
        </div>
    </div>
</footer>