<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">only the best</div>
                    <div class="section_title">testimonials</div>
                </div>
            </div>
        </div>
        <div class="row test_slider_container">
            <div class="col">

                <!-- Testimonials Slider -->
                <div class="owl-carousel owl-theme test_slider text-center">

                    <!-- Testimonial Item -->
                    <div class="owl-item">
                        <div class="test_text">“Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas tempor leo.”</div>
                        <div class="test_content">
                            <div class="test_image"><img src="/static/images/testimonials.jpg" alt=""></div>
                            <div class="test_name">Christinne Smith</div>
                            <div class="test_title">client</div>
                        </div>
                    </div>

                    <!-- Testimonial Item -->
                    <div class="owl-item">
                        <div class="test_text">“Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas tempor leo.”</div>
                        <div class="test_content">
                            <div class="test_image"><img src="/static/images/testimonials.jpg" alt=""></div>
                            <div class="test_name">Christinne Smith</div>
                            <div class="test_title">client</div>
                        </div>
                    </div>

                    <!-- Testimonial Item -->
                    <div class="owl-item">
                        <div class="test_text">“Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas tempor leo.”</div>
                        <div class="test_content">
                            <div class="test_image"><img src="/static/images/testimonials.jpg" alt=""></div>
                            <div class="test_name">Christinne Smith</div>
                            <div class="test_title">client</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>